<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Expenditure Recorder</title>
    <link rel="icon" type="image/svg" href="/images/icons/favicon.svg">
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/welcome.css' />
</head>

<body>
    <main>
        <section id="home-menu">
            <div id="home-illus">
                <h1>Expenditure Recorder</h1>
                <img loading="lazy" width="300" src="/images/assets/dollar.png" />
            </div>
            <a class="home-link" href="/login">Login</a>
            <a class="home-link" href="/register">Register</a>
        </section>
    </main>

</body>

</html>